
.card{
    margin-bottom: 2em;
}

.card:hover{
    border: 2px solid #0091ea;
}
img+div{
    margin-bottom: 1em;
}

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    right: 0;
    top: 1.5em;
    min-width: 0.625em;
    border: 1px #aaaaaa solid;
    border-radius: 0.625em;
    background-color: #64b5f6 ;
    padding: 0.75em;
    color: #000000;
    font-size: 0.875em;
    z-index: 1;
}

img::after {
    content: attr(alt);
    font-weight: bold;
    height: 100%;
    left: 0;
    margin-left: 1em;
    text-align: center;
    top: 0.1em;
    width: 100%;
}

a:link{
    color: purple;
}

a:hover{
    font-weight: bold;
}
.meal-item{
    margin: 1em 0.8em;
}

.recipe-detail{
    background:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-size: contain;
}
.recipe-summary{
    margin: 2em 2em 1em;
}

h4+select{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

div button{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.5em;
}

#saved-recipes{
    background-image: linear-gradient(to right top, #7b5e99, #7773ac, #7587ba, #799bc5, #83adcd);
    background-size: cover;
    padding: 1em;
}
ol li{
    list-style: none;
}
ol li{
    counter-increment: step-counter;
    margin-bottom: 1em;
}
ol li::before{
    margin-right: 0.5em;
    content: counter(step-counter);
    font-size: 1.5rem;
    font-weight: bold;
    background: #83adcd;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

.saved-recipe-header{
    margin-bottom: 2em;
}

.recipe-instructions{
    margin:  1em 2em;
}

p+h6{
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.image-parent {
    max-width: 100%;
    width: 300px;
}
#save{
    margin-bottom: 1em;
}

p[class~="recipe-summary"]::before{
  content: "Recipe Summary:";
  font-weight: bold;
  margin-right: 0.2em;
}

@media(max-width: 320px){
    h1{
        font-size: 1.0em;
    }
}

@media only screen and (min-width: 767px) {
    .img-detail{
       width: 90%;
       height: 100%;
    }
    p{
        font-size: 1.4rem;
    }

    ol{
        margin-bottom: 2em;
    }

    ol li{
        font-size: 1.3rem;
    }
}

@media only screen and (device-width: 1024px) {

    #similar-recipes .card{
        width: 28em;
    }
}

@media only screen and (min-width: 1280px) and (min-height: 800px){
    #similar-recipes .card{
        width: 35em;
    }
}

@media (min-width:1281px) {
    #similar-recipes .card{
        width: 50em;
    }
    #similar-recipes{
        padding: 10em;
    }
}
