
.card{
    margin-bottom: 2em;
}

.card:hover{
    border: 5px solid #0091ea;
}
img+div{
    margin-bottom: 1em;
}

a:link{
    color: purple;
}

a:hover{
    font-weight: bold;
}
.meal-item{
    margin: 1em 0.8em;
}

article ul{
    margin: 1.2em !important;
}
.recipe-detail{
    background:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-size: contain;
}
.recipe-summary{
    margin: 2em 2em 1em;
}

h4+select{
    margin-right: 0.5em;
    margin-left: 0.5em;
}

div button{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1.5em;
}

.meal-plan{
    background-image: linear-gradient(to right top, #7b5e99, #7773ac, #7587ba, #799bc5, #83adcd);
    background-size: cover;
}

.recipe-instructions{
    margin:  1em 2em;
}

p+h6{
    margin-left: 1.2em;
    font-size: 1.2rem;
}

.image-parent {
    max-width: 100%;
    width: 300px;
}
#save{
    margin-bottom: 1em;
}

@media(max-width: 320px){
    h1{
        font-size: 1.0em;
    }
}

@media only screen and (min-width: 767px) {

    .img-detail{
       width: 100%;
       height: 31.25em;
    }
    p{
        font-size: 1.4rem;
    }

    ol{
        margin-bottom: 2em;
    }

    ol li{
        font-size: 1.3rem;
    }
}
